@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-anton: "Anton", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* Hide scrollbars during section transitions */
.expandable-section::-webkit-scrollbar {
  display: none;
}
.expandable-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

